 <nav class="navbar sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">FSD</a>

    <div class="header-links">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="/enroll">Enrollment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/authenticate">Authentication</a>
        </li>
      </ul>
    </div>
  </nav>